/* Main Screen */
main {
    position: absolute;
    box-sizing: border-box;
    padding: 25px 25px;
    margin-top: 140px;
    margin-bottom: 75px;
    padding-bottom: 200px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

section {
    padding: 10px 0px;
    border-bottom: 2px solid var(--bkg);
}

/* Large one */

.large {
    height: 120px;
    padding: 10px 10px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--shell);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large .avatar {
    margin-right: 10px;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 100px;
}

/* Small one */

.topic {
    padding: 10px 0px;
    font-size: 15px;
    line-height: 160%;
    color: grey;
    width: 50%;
}

.small {
    height: 100px;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s linear;
}

.small:hover {
    background-color: var(--nut);
}


.small .avatar {
    margin-right: 10px;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
}

.avatar img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    /* object-fit: scale-down; */
    border-radius: 40%;
}


/* Component */

.profile {
    box-sizing: border-box;
    min-width: 50%;
    min-height: 100%;
    padding: 10px    10px;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.name {
    font-size: 25px;
    color: black;
    width: 100%;
}

.subtitle {
    font-size: 15px;
    color: gray;
}


.misc {
    box-sizing: border-box;
    right: 0px;
    width: 40%;
    min-height: 100%;
    padding: 10px 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.popup {
    height: 80px;
    margin: 10px 0px;
    padding: 10px 10px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Misc : In Friends Screen */

/* Listen   ing to Music */
.now-listening {
    padding: 8px;
    border: 2px solid var(--bkg);
    border-radius: 10px;
}

.now-listening span {
    color: darkgray;
    overflow-x: auto;
    font-size: 14px;
}

.now-listening i {
    color: var(--bkg);
}