.nav-bar {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: beige;
    padding: 20px 25px;
}

.nav-bar__list {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes appearBtn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav-bar__items{
    position: relative;
    animation: appearBtn 0.5s ease-in-out;
}

.nav-bar__items:nth-child(2) {
    animation-delay: 0.075s;
}

.nav-bar__items:nth-child(3) {
    animation-delay: 0.15s;
}

.nav-bar__items:nth-child(4) {
    animation-delay: 0.225s;
}


.nav-bar__items a{
    position: relative;
    color: black;
}

@keyframes notifAnim {
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}

.notif {
    position: absolute;
    box-sizing: border-box;
    background-color: var(--bkg);
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius : 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    left: 15px;
    bottom: 15px;
    animation: notifAnim 2s ease-in-out infinite;
}