@import "reset.css";
@import "status-bar.css";
@font-face { font-family: 'paybooc-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    font-family: paybooc-Bold;
}

.welcome-header {
    background-color: pink;
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.welcome-header__text {
    font-size: 15px;
    line-height: 160%;
    color: grey;
    width: 50%;
}