@import "reset.css";

/* Component */
@import "status-bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friends.css";

/* Pages */
@import "chatlist.css";
@import "find.css";
@import "more.css";
@import "chatroom.css";

@import "tachio-theme.css"; /* My own palette*/
@font-face { font-family: 'paybooc-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    color: black;
    font-family: paybooc-Bold;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    margin: 10px 20px;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.welcome-header {
    padding: 90px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome-header__title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 160%;
}

.welcome-header__text {
    font-size: 15px;
    line-height: 160%;
    color: grey;
    width: 50%;
}

#login-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
}

#login-form input:not([type="submit"]) {
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    /* padding: 10px 10px; */
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out; /*상태 변화(여기서는 focus) 주었을 시, 1초간 */
}

/* input tag 내부의 placeholder 속성만 고치고 싶을 때 */
#login-form input::placeholder {
    color: gray;
}

/* 보편적인 focus 상태에서의 outline을 없애고 */
input:focus {
    outline: none;
}

/* login-form 안에서의 focus 상태에서의 outline을 부여 */
#login-form input:focus {
    background-color: var(--shell); /*변수 지정: --bkg를 특정 색으로*/
}

/* type="submit"인 조건을 가진 input tag */
#login-form input[type="submit"] {
    border: none;
    width: 70%;
    padding: 5px 5px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(--bkg);
    cursor: pointer;
}

#login-form a {
    text-align: end;
    text-decoration: none;
    font-size: 12px;
    color: inherit;
    cursor: not-allowed;
}

@keyframes hideSplashScreen {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--bkg);
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    animation: hideSplashScreen 2s ease-in-out forwards;
}

#no-mobile {
    background-color: var(--bkg);
    position: absolute;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    line-height: 160%;
}

#no-mobile span {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    #no-mobile {
        display: none;
    }
}